$gray-light: #888888;
$gray-primary: #d7d7d7;
$gray: #555555;
$popup-background: #fff;
$popup-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
$item-match: rebeccapurple;

.dropdown {
  position: relative;
}

.item {
  color: black;
  display: block;
  white-space: nowrap;
  &:hover {
    color: blue;
  }
}

.popup {
  position: relative;
  max-height: 162px;
  min-width: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px;

  z-index: 99;
  background: $popup-background;
  border: 1px solid $gray-primary;
  box-shadow: $popup-box-shadow;
  border-radius: 2px;

  .currentlySelected {
    background: lightblue;
  }
}

.popupWrapper {
  position: absolute;
  top: 10px;
  left: -1px;
}
