/*********************************************
 * 
 * Styles for Freon Svelte components.
 * 
 *********************************************/

.dark .freon-component {
    color: whitesmoke;
    background-color: rgb(55, 65, 81);
    --md-sys-color-primary: whitesmoke;
    --md-sys-color-on-surface-variant: whitesmoke; /* color for the one that is not checked */
}

.dark .label-component:empty:before {
}

.dark .label-component {
}

.dark .list-component-horizontal {
    border-color: lightgreen;
}

.dark .list-component-vertical {
    border-color: red;
}

.dark .layout-component {
}

.dark .layout-component-horizontal {
}

.dark .layout-component-horizontal-error {
    border-bottom: double thin red;
    padding-bottom: 1px;
}

.dark .layout-component-vertical {
}

.dark .layout-component-vertical-error {
    border-left: 2px solid red;
    height: 100%;
}

.dark .limited-checkbox-component-group {
    --md-sys-color-primary: transparent;
    --md-sys-color-on-surface-variant: whitesmoke;
    --md-sys-color-on-surface: whitesmoke; /* box color for the one that is not checked */
}
.dark .limited-checkbox-component-group:hover,
.dark .limited-checkbox-component-group:focus-within {
    outline: rgba(211, 227, 253, 255) solid 1px;
    box-shadow: 0 0 10px rgba(211, 227, 253, 255);
}
.dark .limited-checkbox-component-label {
}
.dark .limited-checkbox-component-single {
}

.dark .limited-radio-component-group {
}
.dark .limited-radio-component-group:focus,
.dark .limited-radio-component-group:hover,
.dark .limited-radio-component-group:focus-within {
    outline: whitesmoke solid 1px;
    box-shadow: 0 0 10px whitesmoke;
}
.dark .limited-radio-component-single {
}
.dark .limited-radio-component-vertical {
}
.dark .limited-radio-component-label {
}

.dark .contextmenu {
    border-color: #c5c5c5;
    background: #e5e5e5;
    box-shadow: 1.5px 1.5px 5px grey;
}
.dark .contextmenu-button {
    background: none;
    border: none;
}

.dark .contextmenu-button:hover {
    background: #f4f4f4;
}

.dark .contextmenu-shortcut {
    color: #666;
}

.dark .contextmenu-hr {
    border-top: solid 1px #c5c5c5;
}

.dark .error-tooltip {
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ddd;
    background: darkgrey;
}
.dark .error-marker {
    background-color: #FF4C4C;
}

.dark .button-component-ripple {
}
.dark .button-component-ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) no-repeat center/15000%;
    background-color: antiquewhite;
}
.dark .button-component-ripple:active {
    background-color: green;
}
.dark .button-component-empty {
}

/* Button style */
.dark .button-component {
    box-shadow: 2px 2px 4px antiquewhite;
    background-color: whitesmoke;
    color: darkblue;
}

boolean-checkbox-component {
    --md-sys-color-primary: rgba(211, 227, 253, 255);
}
.dark .boolean-checkbox-component:hover,
.dark .boolean-checkbox-component:focus-within {
    outline: rgba(211, 227, 253, 255) solid 1px;
    box-shadow: 0px 0px 10px rgba(211, 227, 253, 255);
}

.dark .boolean-radio-component-group {
    color: whitesmoke;
    /*--md-sys-color-primary: var(--freon-boolean-color, var(--mdc-theme-primary));*/
    /*--md-sys-color-on-surface-variant: red; color for the one that is not checked */
}
.dark .boolean-radio-component-group:hover,
.dark .boolean-radio-component-group:focus-within {
    outline: rgba(211, 227, 253, 255) solid 1px;
    box-shadow: 0 0 10px rgba(211, 227, 253, 255);
}
.dark .boolean-radio-component-single {
}
.dark .boolean-radio-component-vertical {
}
.dark .boolean-radio-component-label {
}

.dark .text-component-width {
}

.dark .text-component-input {
    color: yellow;
    background: darkslategray;
}

.dark .text-component-text {
    color: yellow;
    /*background: var(--freon-text-component-background-color, inherit);*/
}

.dark .text-component-placeholder {
    color: yellow;
    /*background: var(--freon-text-component-background-color, inherit);*/
}
.dark .text-component-action-placeholder {
    color: lightyellow;
    /*background: var(--freon-text-component-background-color, inherit);*/
}

.dark .multiline-text-component {
    color: yellow;
    /*background: var(--freon-text-component-background-color, inherit);*/
}

.dark .numeric-slider-component {
    --md-slider-inactive-track-color: gray;
}

.dark .numeric-slider-component:hover,
.dark .numeric-slider-component:focus-within {
    outline: rgba(211, 227, 253, 255) solid 1px;
    box-shadow: 0 0 8px gray;
    border-radius: 0.1em;
}

.dark dropdown-component {
    border-color: whitesmoke;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    background: #e5e5e5;
}

.dark .dropdown-component-item {
    color: darkblue;
    /*background-color: var(--freon-dropdownitem-component-background-color, inherit);*/
    background: none;
}

.dark .dropdown-component-error {
    color: red;
    /*background-color: var(--freon-dropdownitem-component-error-bg-color, red);*/
}

.dark .dropdown-component-item:hover {
    color: darkblue;
    background-color: #f4f4f4;
}

.dark .dropdown-component-selected {
    color: darkblue;
    background-color: lightblue;
}

/******************************************************************
 *
 ******************************************************************/
.dark .inner-switch-component button {
    color: white;
}

.dark .inner-switch-component button[role="switch"][aria-checked="false"] {
    color: whitesmoke;
    background-color: gray;
}
.dark .inner-switch-component button[role="switch"][aria-checked="true"] {
    color: darkblue;
    background-color: lightgray;
}

.dark .inner-switch-component button span {
}

.dark .inner-switch-component button:hover,
.dark .inner-switch-component button:focus {
    outline: white solid 1px;
    box-shadow: 0 0 8px white;
}

.dark .optional-component-new:empty:before {
    background-color: lightpink;
}

.dark .optional-component-show {
}
.dark .optional-component-hide {
    color: lightgrey;
}

.dark .render-component {
}
.dark .render-component-unknown-box {
    color: red;
}
.dark .render-component-error {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
.dark .render-component-unselected {
    /*background-color: transparent;*/
}
.dark .render-component-selected {
    outline-color: whitesmoke;
}

.dark .switch-component {
}
.dark .switch-component button {
    background: darkslategray;
}

.dark .switch-component button::before {
    /* defines the knob */
    background-color: whitesmoke;
}

.dark .switch-component button[aria-checked="true"] {
    background-color: lightgray;
}
.dark .switch-component button[aria-checked="false"] {
    background-color: dimgray;
}

.dark .switch-component button[aria-checked="true"]::before {
}

.dark .switch-component button:hover,
.dark .switch-component button:focus {
    box-shadow: 0 0px 8px rgba(211, 227, 253, 255);
}

.dark .switch-component button {
}

.dark .switch-component button::before {
}

.dark .table-component {
    border-color: lightgreen;
}

.dark .table-cell-component {
    background-color: transparent;
}

.dark .table-cell-component-unselected {
    background: transparent;
}
.dark .table-cell-component-selected {
    outline-color: whitesmoke;
}

.dark .grid-component {
    border-color: lightgreen;
}

.dark .grid-cell-component {
    color: inherit;
}

.dark .reference-button {
    background-color: transparent;
}

.dark .text-dropdown-component .text-component-text {
    color: lightgreen;
}

.dark .brackets {
    color: gray;
}

.dark .drag-handle-icon {
    fill: floralwhite;
}
