@use 'sass:color';

@use '@material/theme/color-palette';

// Freon Colors!! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #00695c,
  $secondary: color.scale(#b53d00, $whiteness: +20%),
  $surface: color-palette.$grey-900,
  $background: #000,
  $error: #B00020,
  //$on-primary: #ffffb0,
  //$on-primary: purple,     // a slighter darker version of 'secondary'
  $on-secondary: #4f9a94,   // a slighter darker version of 'primary'
  //$on-surface: black,
  //$on-error: black,
  //accessible-ink-color,
  //contrast,
  //contrast-tone,
  //luminance,
  //text-emphasis,
  //tone
);

// Include all the global styles that do not involve dark/light modes.
@use '../app';

// linear-progress is included for the progress indicator in the EditorPart component
@use '@material/linear-progress/index' as linear-progress;

// my-colored-bar style is used for the progress indicator in the EditorPart component
.my-colored-bar {
  @include linear-progress.bar-color(theme.$red-500);
  @include linear-progress.buffer-color(theme.$red-100);
}

// status-bar style is used for the StatusBar component above the editor
.status-bar {
  //--freon-colors-bg-status: #4f9a94;
  --freon-colors-bg-status: #4f9a94;
  --freon-colors-text-status: white;
  --freon-text-style-status: italic;
}

.main-frame {
  /* SplitPane divider */
  --freon-colors-slider: #{theme.$on-secondary};    /* The color of the slider between the error/search pane and the editor */
}

/* The follwoing are CSS variables that are used in the editor part of Freon, i.e. in the package 'core-svelte'. */
/* Change the values as you like. */
/* Note that we need to use a different syntax to be able to use SCSS variables as value
for CSS variables, see https://www.sass-lang.com/documentation/breaking-changes/css-vars */
.editor-part {
  /* Normal text colors */
  --freon-colors-text_editor: #{--mdc-theme-text-primary-on-dark};       /* The color of the text, unless set otherwise by the projection */
  --freon-colors-inverse_color: #{theme.$on-secondary};     /* Text color on non_normal background */
  --freon-colors-bg_editor: #{theme.$surface};              /* The background color of the editor */

  /* Dropdown colors */
  --freon-colors-color_dropdownitem_component: #{theme.$blue-900};
  --freon-colors-bg_dropdown_component: #{theme.$surface};
  --freon-colors-border_dropdown_component: #{theme.$blue-900};
  --freon-colors-border_dropdownitem_component: #{theme.$blue-900};

  /* Selectable */
  --freon-colors-bg_selected: rgba(211, 227, 253, 255);
  --freon-colors-border_selected: #{theme.$blue-900};
  --freon-colors-color_text_box: #{theme.$blue-900};


  /* Fonts */
  --freon-fonts-family_editor: "Arial";     /* The font family of the text, unless set otherwise by the projection */
  --freon-fonts-size_editor: 14px;          /* The font size of the text, unless set otherwise by the projection */
  --freon-fonts-style_editor: normal;       /* The font style of the text, unless set otherwise by the projection */
  --freon-fonts-weight_editor: normal;      /* The font weight of the text, unless set otherwise by the projection */

  /* Popup */
  --freon-popup-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  --freon-padding-text-component: 0px;
  --freon-padding-label-component: 0px;
  --freon-padding-horizontallist-component: 0px;
  --freon-padding-verticallist-component: 0px;
}

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  --mdc-theme-primary: #{theme.$primary};
}
