<header class="header">
  <nav class="navbar" id="topbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://www.projectit.org"><img src="{{uiRootPath}}/img/projectit-logo-3d.svg" alt="ProjectIt"></a>
        <button class="navbar-burger" data-target="topbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div id="topbar-menu" class="navbar-menu">
        <div class="navbar-start">
            <div class="title">User Guide</div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <a class="btn red-btn" href="http://www.projectit.org">Github</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
