@use '@material/theme/color-palette';
$freon-primary: color-palette.$teal-100;
$freon-secondary: color-palette.$orange-100;

$freon-dark-primary: color-palette.$teal-800;
$freon-dark-secondary: color-palette.$orange-800;

