@use 'sass:color';

@use '@material/theme/color-palette';

// Freon Colors!!
@use '@material/theme/index' as theme with (
  //$primary: #80cbc4,
  $primary: #4f9a94,
  //$secondary: #ce93d8,
  $secondary: #ffcc80,
  $surface: #eeeeee,
  $background: #fff,
  $error: #B00020,
  //$on-primary: color-palette.$orange-50,
  $on-secondary: #00695c,   // a slighter darker version of 'primary'
  //$on-surface: black,
  //$on-error: black,
  //accessible-ink-color,
  //contrast,
  //contrast-tone,
  //luminance,
  //text-emphasis,
  //tone
);

// Include all the global styles that do not involve dark/light modes.
@use './app';

// linear-progress is included for the progress indicator in the EditorPart component
@use '@material/linear-progress/index' as linear-progress;

// my-colored-bar style is used for the progress indicator in the EditorPart component
.my-colored-bar {
  @include linear-progress.bar-color(theme.$red-500);
  @include linear-progress.buffer-color(theme.$red-100);
}

// status-bar style is used for the StatusBar component above the editor
.status-bar {
  //--freon-colors-bg-status: #4f9a94;
  --freon-colors-bg-status: #80cbc4;
  --freon-colors-text-status: black;
  --freon-text-style-status: italic;
}

.main-frame {
  /* SplitPane divider */
  --freon-colors-slider: #{theme.$on-secondary};    /* The color of the slider between the error/search pane and the editor */
}

/* The following are CSS variables that are used in the editor part of Freon, i.e. in the package 'core-svelte'. */
/* Change the values as you like. */
/* Note that you need to use a different syntax to be able to use SCSS variables as value
for CSS variables, see https://www.sass-lang.com/documentation/breaking-changes/css-vars */
.editor-part {
  /* Selectable */
  --freon-colors-bg_selected: rgba(211, 227, 253, 255);
  --freon-colors-border_selected: #{theme.$blue-900};
  /* Normal text colors */
  //--freon-colors-inverse_color: #{theme.$on-secondary};     /* Text color on non_normal background */
  --freon-editor-component-background-color: #{theme.$surface};              /* The background color of the editor */
  --freon-editor-component-color: #{--mdc-theme-primary};       /* The color of the text, unless set otherwise by the projection */
  --freon-editor-component-margin: 1px;
  --freon-editor-component-padding: 1px;
  /* Fonts */
  --freon-editor-component-font-family: "Roboto";    /* The font family of the text, unless set otherwise by the projection */
  --freon-editor-component-font-size: 14px;          /* The font size of the text, unless set otherwise by the projection */
  --freon-editor-component-font-style: normal;       /* The font style of the text, unless set otherwise by the projection */
  --freon-editor-component-font-weight: normal;      /* The font weight of the text, unless set otherwise by the projection */
  /* Dropdown colors */
  --freon-dropdown-component-border-color: #{theme.$blue-900};
  --freon-dropdown-component-background-color: #{theme.$surface};
  --freon-dropdownitem-component-color: #{theme.$blue-900};
  --freon-dropdownitem-component-border-color: #{theme.$blue-900};

  --freon-text-component-color: #{theme.$blue-900};
  --freon-text-component-font-size: 14px;		/* The font size of the text, unless set otherwise by the projection */
  --freon-text-component-font-style: normal;		/* The font size of the text, unless set otherwise by the projection */
  --freon-text-component-font-weight: normal;	/* The font size of the text, unless set otherwise by the projection */
  --freon-text-component-font-family: "Arial";	/* The font size of the text, unless set otherwise by the projection */
  --freon-text-component-padding: 0px 1px 0px 1px;
  --freon-text-component-margin: 1px;

  --freon-label-component-color: black;
  --freon-label-component-background-color: inherit;
  --freon-label-component-font-size: 14px;		/* The font size of the text, unless set otherwise by the projection */
  --freon-label-component-font-style: normal;		/* The font size of the text, unless set otherwise by the projection */
  --freon-label-component-font-weight: normal;	/* The font size of the text, unless set otherwise by the projection */
  --freon-label-component-font-family: "Arial";	/* The font size of the text, unless set otherwise by the projection */
  --freon-label-component-padding: 0px 1px 0px 1px;
  --freon-label-component-margin: 1px;

  /* Popup */
  --freon-popup-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

  --freon-horizontallist-component-padding: 0px;
  --freon-horizontallist-component-margin: 0px;

  --freon-verticallist-component-padding: 0px;
  --freon-verticallist-component-margin: 1px;


}

.Rules-name-textbox, .CheckingRule-name-textbox {
  --freon-colors-backgroundcolor_text_box: lightgreen;
}
.Entity-name-textbox {
  --freon-colors-backgroundcolor_text_box: lightgreen;
}

.\/\* {
  //--freon-label-component-font-weight: lighter;
  --freon-label-component-font-style: italic;
  --freon-label-component-color: #{theme.$grey-500};
}
.\{ {
  --freon-label-component-font-weight: bold;
}
.using.entity\: , .Validation {
  --freon-label-component-font-weight: bold;
  --freon-label-component-color: red;
}
.alias-SetValue-attribute-referencebox-textbox {
  --freon-colors-backgroundcolor_text_box: orange;
}

.\,, .\%, .\. {
  --freon-label-component-margin: 0px;
  --freon-label-component-padding: 0px 0px 0px 0px;
}
.EuroLiteral-cents-numberbox {
  --freon-label-component-margin: 0px;
  --freon-label-component-padding: 0px 0px 0px 0px;
}
.alias-binary-pre-textbox, .alias-binary-post-textbox, .alias-exp-left-textbox, .alias-exp-right-textbox {
  --freon-text-component-margin: 0px;
  --freon-text-component-padding: 0px 0px 0px 0px;
}
html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  --mdc-theme-primary: #{theme.$primary};
}
