@use 'sass:color';

@use '@material/theme/color-palette';

// Freon Colors!!
@use '@material/theme/index' as theme with (
  //$primary: #80cbc4,
  $primary: #4f9a94,
  //$secondary: #ce93d8,
  $secondary: #ffcc80,
  $surface: #eeeeee,
  $background: #fff,
  $error: #B00020,
  //$on-primary: color-palette.$orange-50,
  $on-secondary: #00695c,   // a slighter darker version of 'primary'
  //$on-surface: black,
  //$on-error: black,
  //accessible-ink-color,
  //contrast,
  //contrast-tone,
  //luminance,
  //text-emphasis,
  //tone
);

// Include all the global styles that do not involve dark/light modes.
@use './app';

// linear-progress is included for the progress indicator in the EditorPart component
@use '@material/linear-progress/index' as linear-progress;

// my-colored-bar style is used for the progress indicator in the EditorPart component
.my-colored-bar {
  @include linear-progress.bar-color(theme.$red-500);
  @include linear-progress.buffer-color(theme.$red-100);
}

// status-bar style is used for the StatusBar component above the editor
.status-bar {
  //--freon-colors-bg-status: #4f9a94;
  --freon-colors-bg-status: #80cbc4;
  --freon-colors-text-status: black;
  --freon-text-style-status: italic;
}

.main-frame {
  /* SplitPane divider */
  --freon-colors-slider: #{theme.$on-secondary};    /* The color of the slider between the error/search pane and the editor */
}

/* The following are CSS variables that are used in the editor part of Freon, i.e. in the package 'core-svelte'. */
/* Change the values as you like. */
/* Note that you need to use a different syntax to be able to use SCSS variables as value
for CSS variables, see https://www.sass-lang.com/documentation/breaking-changes/css-vars */
.editor-part {
  /* Normal text colors */
  --freon-colors-text_editor: #{--mdc-theme-primary};       /* The color of the text, unless set otherwise by the projection */
  --freon-colors-inverse_color: #{theme.$on-secondary};     /* Text color on non_normal background */
  --freon-colors-bg_editor: #{theme.$surface};              /* The background color of the editor */

  /* Dropdown colors */
  --freon-colors-color_dropdownitem_component: #{theme.$blue-900};
  --freon-colors-bg_dropdown_component: #{theme.$surface};
  --freon-colors-border_dropdown_component: #{theme.$blue-900};
  --freon-colors-border_dropdownitem_component: #{theme.$blue-900};

  /* Selectable */
  --freon-colors-bg_selected: rgba(211, 227, 253, 255);
  --freon-colors-border_selected: #{theme.$blue-900};
  --freon-colors-color_text_box: #{theme.$blue-900};

  --freon-colors-backgroundcolor_text_box: yellow;
  --freon-colors-backgroundcolor_label_box: inherit;

  /* Fonts */
  --freon-fonts-family_editor: "Roboto";    /* The font family of the text, unless set otherwise by the projection */
  --freon-fonts-size_editor: 14px;          /* The font size of the text, unless set otherwise by the projection */
  --freon-fonts-style_editor: normal;       /* The font style of the text, unless set otherwise by the projection */
  --freon-fonts-weight_editor: normal;      /* The font weight of the text, unless set otherwise by the projection */
  --freon-font-weight-label-component: normal;
  --freon-font-weight-text-component: normal;

  --freon-fonts-size_text_component: 14px;		/* The font size of the text, unless set otherwise by the projection */
  --freon-fonts-style_text_component: normal;		/* The font size of the text, unless set otherwise by the projection */
  --freon-fonts-weight_text_component: normal;	/* The font size of the text, unless set otherwise by the projection */
  --freon-fonts-family_text_component: "Arial";	/* The font size of the text, unless set otherwise by the projection */
  --freon-fonts-size_label_component: 14px;		/* The font size of the text, unless set otherwise by the projection */
  --freon-fonts-style_label_component: normal;		/* The font size of the text, unless set otherwise by the projection */
  --freon-fonts-weight_label_component: normal;	/* The font size of the text, unless set otherwise by the projection */
  --freon-fonts-family_label_component: "Arial";	/* The font size of the text, unless set otherwise by the projection */
  /* Popup */
  --freon-popup-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

  --freon-padding-text-component: 0px 1px 0px 1px;
  --freon-padding-label-component: 0px 1px 0px 1px;
  --freon-padding-horizontallist-component: 0px;
  --freon-padding-verticallist-component: 0px;
  --freon-padding-projectit-component: 1px;

  --freon-margin-text-component: 1px;
  --freon-margin-label-component: 1px;
  --freon-margin-horizontallist-component: 1px;
  --freon-margin-verticallist-component: 1px;
  --freon-margin-projectit-component: 1px;

  --freon-color-label-component: black;

}

.Rules-name-textbox, .CheckingRule-name-textbox {
  --freon-colors-backgroundcolor_text_box: lightgreen;
}
.Entity-name-textbox {
  --freon-colors-backgroundcolor_text_box: lightgreen;
}

.\/\* {
  --freon-font-weight-label-component: bold;
}
.\{ {
  --freon-font-weight-label-component: bold;
}
.using.entity\: , .Validation {
  --freon-font-weight-label-component: bold;
  --freon-color-label-component: red;
}
.alias-SetValue-attribute-referencebox-textbox {
  --freon-colors-backgroundcolor_text_box: orange;
}

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  --mdc-theme-primary: #{theme.$primary};
}
