@use 'sass:color';

@use '@material/theme/color-palette';

// Freon Colors!!
@use '@material/theme/index' as theme with (
  //$primary: #80cbc4,
  $primary: #4f9a94,
  //$secondary: #ce93d8,
  $secondary: #ffcc80,
  $surface: #eeeeee,
  $background: #fff,
  $error: #B00020,
  //$on-primary: color-palette.$orange-50,
  $on-secondary: #00695c,   // a slighter darker version of 'primary'
  //$on-surface: black,
  //$on-error: black,
  //accessible-ink-color,
  //contrast,
  //contrast-tone,
  //luminance,
  //text-emphasis,
  //tone
);

// Include all the global styles that do not involve dark/light modes.
@use './app';

// linear-progress is included for the progress indicator in the EditorPart component
@use '@material/linear-progress/index' as linear-progress;

// my-colored-bar style is used for the progress indicator in the EditorPart component
.my-colored-bar {
  @include linear-progress.bar-color(theme.$red-500);
  @include linear-progress.buffer-color(theme.$red-100);
}

:focus {
  outline: none;
}
// status-bar style is used for the StatusBar component above the editor
.status-bar {
  //--freon-colors-bg-status: #4f9a94;
  --freon-colors-bg-status: #80cbc4;
  --freon-colors-text-status: black;
  --freon-text-style-status: italic;
}

.main-frame {
  /* SplitPane divider */
  --freon-colors-slider: #{theme.$on-secondary};    /* The color of the slider between the error/search pane and the editor */
}

.gridCellOr {
  padding: 4px;
  --freon-gridcell-component-color: blue;
  --freon-label-component-color: blue;
  --freon-label-component-font-style: bold;
  --freon-label-component-font-weight: bold;
  display: flex;
  align-items: center;
  border: lightgrey;
  border-style: solid;
  border-width: 1px;
  --freon-gridcell-component-background-color: lightblue;
};

.or_gridcellFirst {
  // padding: 4px;
  border: red;
  border-style: solid;
  border-width: 1px;
};

.gridcell {
  // padding: 4px;
  border-left: lightgrey;
  border-left-style: solid;
  border-left-width: 1px;
  border-right: lightgrey;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
};

.gridcellLast {
  padding: 4px;
  border-left: lightgrey;
  border-left-style: solid;
  border-left-width: 1px;
  border-right: lightgrey;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.grid {
  display: inline-grid;
  grid-gap: 0px;
  align-items: center;
  align-content: center;
  justify-items: stretch;
  --freon-grid-component-border-color: orange;
  --freon-grid-component-border-width: 3pt;
  --freon-grid-component-border-style: dotted;

}

.mygrid {
  padding: 0px;
  grid-gap: -1px;
  border: 0px;
  border-style: hidden;
};

.mycell {
  display: flex;
  // justifySelf: stretch;
  padding: 0px;
  grid-gap: -1px;
  border: 0px;
  border-style: hidden;
};


.text-box-action {
  --freon-text-component-color: red;
}
.text-box-select {
  --freon-text-component-color: green;
}
.text-box-text {
  --freon-text-component-color: blue;
}

/* The following are CSS variables that are used in the editor part of Freon, i.e. in the package 'core-svelte'. */
/* Change the values as you like. */
/* Note that you need to use a different syntax to be able to use SCSS variables as value
for CSS variables, see https://www.sass-lang.com/documentation/breaking-changes/css-vars */
.editor-part {
  box-sizing: border-box;
  /* Selectable */
  --freon-selected-background-color: rgba(211, 227, 253, 255);
  --freon-selected-outline-color: #{theme.$blue-900};
  --freon-selected-outline-width: 1px;
  --freon-selected-outline-style: solid;
  /* Normal text colors */
  //--freon-colors-inverse_color: #{theme.$on-secondary};     /* Text color on non_normal background */
  --freon-editor-component-background-color: #{theme.$surface};              /* The background color of the editor */
  --freon-editor-component-color: #{--mdc-theme-primary};       /* The color of the text, unless set otherwise by the projection */
  --freon-editor-component-margin: 1px;
  --freon-editor-component-padding: 1px;
  /* Fonts */
  --freon-editor-component-font-family: "Roboto";    /* The font family of the text, unless set otherwise by the projection */
  --freon-editor-component-font-size: 14px;          /* The font size of the text, unless set otherwise by the projection */
  --freon-editor-component-font-style: bold;       /* The font style of the text, unless set otherwise by the projection */
  --freon-editor-component-font-weight: bold;      /* The font weight of the text, unless set otherwise by the projection */
  /* Dropdown colors */
  --freon-dropdown-component-border-color: #{theme.$blue-900};
  --freon-dropdown-component-background-color: #{theme.$surface};
  --freon-dropdown-component-color: inherit;

  --freon-dropdownitem-component-color: #{theme.$blue-900};
  --freon-dropdownitem-component-background-color: inherit;
  --freon-dropdownitem-component-border-color: #{theme.$blue-900};
  --freon-dropdownitem-component-error-bg-color: #{theme.$red-600};
  --freon-dropdownitem-component-selected-color: inherit;
  --freon-dropdownitem-component-selected-background-color: inherit;
  --freon-dropdownitem-component-hover-color: inherit;
  --freon-dropdownitem-component-hover-background-color: inherit;

  --freon-text-component-color: #{theme.$blue-900};
  --freon-text-component-font-size: 14px;		/* The font size of the text, unless set otherwise by the projection */
  --freon-text-component-font-style: normal;		/* The font size of the text, unless set otherwise by the projection */
  --freon-text-component-font-weight: normal;	/* The font size of the text, unless set otherwise by the projection */
  --freon-text-component-font-family: "Arial";	/* The font size of the text, unless set otherwise by the projection */
  --freon-text-component-padding: 0px 1px 0px 1px;
  --freon-text-component-margin: 1px;

  --freon-label-component-color: black;
  --freon-label-component-background-color: inherit;
  --freon-label-component-font-size: 14px;		/* The font size of the text, unless set otherwise by the projection */
  --freon-label-component-font-style: normal;		/* The font size of the text, unless set otherwise by the projection */
  --freon-label-component-font-weight: normal;	/* The font size of the text, unless set otherwise by the projection */
  --freon-label-component-font-family: "Arial";	/* The font size of the text, unless set otherwise by the projection */
  --freon-label-component-padding: 0px 1px 0px 1px;
  --freon-label-component-margin: 1px;

  /* Popup */
  --freon-popup-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

  --freon-horizontallist-component-padding: 0px;
  --freon-horizontallist-component-margin: 0px;

  --freon-verticallist-component-padding: 0px;
  --freon-verticallist-component-margin: 0px;
}

.gridcellOdd {
  //--freon-gridcell-component-justify-left: right;
  --freon-gridcell-component-background-color: #{theme.$grey-300};
}
.gridcellEven {
  --freon-gridcell-component-background-color: transparent;
}
.gridcell-header {
  --freon-gridcell-component-background-color: #{theme.$grey-500};
}

.\/\*, .\*\/ {
  //--freon-label-component-font-weight: lighter;
  --freon-label-component-font-style: italic;
  --freon-label-component-color: #{theme.$grey-500};
}
.\{ {
  --freon-label-component-font-weight: bold;
}
.using.entity\: , .Validation {
  --freon-label-component-font-weight: bold;
  --freon-label-component-color: red;
}
.unit {
  --freon-label-component-font-weight: bold;
  --freon-label-component-color: darkmagenta;
}
.alias-SetValue-attribute-referencebox-textbox {
  --freon-text-component-color: #{color-palette.$brown-600};
  //--freon-text-component-background-color: #{color-palette.$yellow-300};
}

.\,, .\%, .\. {
  --freon-label-component-margin: 0px 0px 0px 0px;
  --freon-label-component-padding: 0px 0px 0px 0px;
}

.\/\*, .\*\/ {
  //--freon-label-component-font-weight: lighter;
  --freon-label-component-font-style: italic;
  --freon-label-component-color: #{theme.$grey-500};
}
.\{ {
  --freon-label-component-font-weight: bold;
}
.using.entity\: , .Validation {
  --freon-label-component-font-weight: bold;
  --freon-label-component-color: red;
}
.unit {
  --freon-label-component-font-weight: bold;
  --freon-label-component-color: darkmagenta;
}
.action-SetValue-attribute-referencebox-textbox {
  --freon-text-component-background-color: orange;
}

.\,, .\%, .\. {
  --freon-label-component-margin: 0px 0px 0px 0px;
  --freon-label-component-padding: 0px 0px 0px 0px;
}

.action-binary-pre-textbox, .action-binary-post-textbox, .action-exp-left-textbox, .action-exp-right-textbox {
  --freon-text-component-margin: 0px;
  --freon-text-component-padding: -1px 1px 0px 1px;
}
html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0;
  box-sizing: border-box;
  --mdc-theme-primary: #{theme.$primary};
}
