:root {
	/* Projectional Editor "globals" */
	--freon-colors-inverse_color: #d3e3fd;  /* Text color on non_normal background */

	--freon-editor-component-background-color: white;		/* The background color of the editor */
	--freon-editor-component-color: darkblue;	/* The color of the text, unless set otherwise by the projection */
	--freon-editor-component-font-size: 14px;		/* The font size of the text, unless set otherwise by the projection */
	--freon-editor-component-font-style: normal;		/* The font size of the text, unless set otherwise by the projection */
	--freon-editor-component-font-weight: normal;	/* The font size of the text, unless set otherwise by the projection */
	--freon-editor-component-font-family: "Arial";	/* The font size of the text, unless set otherwise by the projection */
	--freon-editor-component-padding: 0px;
	--freon-editor-component-margin: 0px;

	--freon-dropdown-component-background-color: lightblue;
	--freon-dropdown-component-color: blue;
	--freon-dropdownitem-component-background-color: inherit;
	--freon-dropdownitem-component-selected-color: inherit;
	--freon-dropdownitem-component-selected-background-color: inherit;
	--freon-dropdownitem-component-hover-color: inherit;
	--freon-dropdownitem-component-hover-background-color: inherit;
	--freon-dropdown-component-border-color: darkblue;
	--freon-dropdownitem-component-color: darkblue;
	--freon-dropdownitem-component-border-color: darkblue;

	/* Selectable */
	--freon-selected-background-color: rgba(211, 227, 253, 255);
	--freon-selected-outline-color: inherit;
	--freon-selected-outline-style: inherit;
	--freon-selected-outline-width: inherit;

	/* Others */
	--freon-popup-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

	--freon-text-component-font-size: 14px;		/* The font size of the text, unless set otherwise by the projection */
	--freon-text-component-font-style: normal;		/* The font size of the text, unless set otherwise by the projection */
	--freon-text-component-font-weight: normal;	/* The font size of the text, unless set otherwise by the projection */
	--freon-text-component-font-family: "Arial";	/* The font size of the text, unless set otherwise by the projection */
	--freon-text-component-padding: 0px;
	--freon-text-component-margin: 0px;
	--freon-text-component-color: darkblue;
	--freon-text-component-background-color: white;

	--freon-text-component-placeholder-color: blue;
	--freon-text-component-actionplaceholder-color: darkgrey;

	--freon-label-component-font-style: normal;		/* The font size of the text, unless set otherwise by the projection */
	--freon-label-component-font-weight: normal;	/* The font size of the text, unless set otherwise by the projection */
	--freon-label-component-font-family: "Arial";	/* The font size of the text, unless set otherwise by the projection */
	--freon-label-component-font-size: inherit;
	--freon-label-component-margin: 0px;
	--freon-label-component-padding: 0px;
	--freon-label-component-color: black;
	--freon-label-component-background-color: inherit;

	--freon-grid-component-border-color: inherit;
	--freon-grid-component-border-width: inherit;
	--freon-grid-component-border-style: inherit;

	--freon-gridcell-component-padding:inherit;
	--freon-gridcell-component-margin: inherit;
	--freon-gridcell-component-background-color: inherit;
	--freon-gridcell-component-color: inherit;
	--freon-gridcell-component-justify-left: stretch;

	--freon-horizontallist-component-margin: 0px;
	--freon-horizontallist-component-padding: 0px;
	--freon-horizontallist-component-align-items: baseline;

	--freon-verticallist-component-padding: 0px;
	--freon-verticallist-component-margin: 0px;
	--freon-verticallist-component-border-color: inherited;
	--freon-verticallist-component-border-width: inherited;
	--freon-verticallist-component-border-style: inherited;
	--freon-horizontallist-component-border-color: inherited;
	--freon-horizontallist-component-border-width: inherited;
	--freon-horizontallist-component-border-style: inherited;

}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
.grid {
	display: inline-grid;
	grid-gap: 10px;
	align-items: center;
	align-content: center;
	justify-items: stretch;
}

.gridcell {
	padding: 4px;
	border-left: lightgrey;
	border-left-style: solid;
	border-left-width: 1px;
	border-right: lightgrey;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom: lightgrey;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

