:root {
    --freon-light-base-900: var(--colors-light-freon-900, #6495ed);
    --freon-light-base-800: var(--colors-light-freon-800);
    --freon-light-base-700: var(--colors-light-freon-700);
    --freon-light-base-600: var(--colors-light-freon-600);
    --freon-light-base-500: var(--colors-light-freon-500);
    --freon-light-base-400: var(--colors-light-freon-400);
    --freon-light-base-350: var(--colors-light-freon-350);
    --freon-light-base-300: var(--colors-light-freon-300);
    --freon-light-base-250: var(--colors-light-freon-250);
    --freon-light-base-200: var(--colors-light-freon-200);
    --freon-light-base-150: var(--colors-light-freon-150);
    --freon-light-base-100: var(--colors-light-freon-100);
    --freon-light-base-50: var(--colors-light-freon-50);

    --freon-light-accent-red: var(--colors-light-freonAccent-error);
    --freon-light-accent-amber: var(--colors-light-freonAccent-editable);
    --freon-light-accent-darkorange: var(--colors-light-freonAccent-optional);
    --freon-light-border-green: var(--colors-light-freonAccent-border);
    --freon-light-accent-darkgreen: var(--colors-light-freonAccent-dropdown);
    --freon-light-accent-green: var(--colors-light-freonAccent-button);
}

-dark {
    --freon-dark-base-900: var(--colors-dark-freon-900);
    --freon-dark-base-800: var(--colors-dark-freon-800);
    --freon-dark-base-700: var(--colors-dark-freon-700);
    --freon-dark-base-600: var(--colors-dark-freon-600);
    --freon-dark-base-500: var(--colors-dark-freon-500);
    --freon-dark-base-400: var(--colors-dark-freon-400);
    --freon-dark-base-350: var(--colors-dark-freon-350);
    --freon-dark-base-300: var(--colors-dark-freon-300);
    --freon-dark-base-250: var(--colors-dark-freon-250);
    --freon-dark-base-200: var(--colors-dark-freon-200);
    --freon-dark-base-150: var(--colors-dark-freon-150);
    --freon-dark-base-100: var(--colors-dark-freon-100);
    --freon-dark-base-50: var(--colors-dark-freon-50);

    --freon-dark-accent-red: var(--colors-dark-freonAccent-error);
    --freon-dark-accent-amber: var(--colors-dark-freonAccent-editable);
    --freon-dark-accent-darkorange: var(--colors-dark-freonAccent-optional);
    --freon-dark-border-green: var(--colors-dark-freonAccent-border);
    --freon-dark-accent-darkgreen: var(--colors-dark-freonAccent-dropdown);
    --freon-dark-accent-green: var(--colors-dark-freonAccent-button);
}

