@import 'tailwindcss';
@import './theme-colors.css';

@source "../../../node_modules/flowbite-svelte/dist";
@source "../../../node_modules/flowbite-svelte-icons/dist";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    /* disable chrome cancel button */
    input[type="search"]::-webkit-search-cancel-button {
        display: none;
    }
}

@layer components {
    /* overwrite runeswebkit.css using !important */
    .dark_bg_theme {
        @apply dark:bg-stone-900;
    }
}

/**
 This class is missing the "overflow"  property when using bare tailwind, we therefore define it over here.
 */
.text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}
