
.list-replace-button {
    border: 2px black solid;
    background-color: limegreen;
    padding: 4px;
}

.replacer {
    border: 2px black solid;
    background-color: lightsteelblue;
}

.wrapper {
    border: 2px black solid;
    background-color: lightgrey;
}
