
.list-replace-button {
    border: 2px black solid;
    background-color: limegreen;
    padding: 4px;
}

.replacer {
    border: 2px black solid;
    background-color: lightsteelblue;
}

.wrapper {
    border: 2px black solid;
    background-color: lightgrey;
}

.diagram-entity {
    border: #0d47a1;
    border-style: solid;
}

.diagram-attribute-list {
    border-top: #974A04;
    border-style: dashed;
}
