
.list-replace-button {
    border: 2px black solid;
    background-color: limegreen;
    padding: 4px;
}

.replacer {
    border: 2px black solid;
    background-color: lightsteelblue;
}

.wrapper {
    border: 2px black solid;
    background-color: lightgrey;
}

/* Colors for the Carousel - positioned here because they depend on the color scheme used */
.embla {
    --accent-100: var(--color-light-accent-100);
    --accent-900: var(--color-light-accent-900);
    --accent-200: var(--color-light-accent-200);
    --accent-300: var(--color-light-accent-300);
    --accent-400: var(--color-light-accent-400);
}
.dark .embla {
    --accent-100: var(--color-dark-accent-100);
    --accent-900: var(--color-dark-accent-900);
    --accent-200: var(--color-dark-accent-200);
    --accent-300: var(--color-dark-accent-300);
    --accent-400: var(--color-dark-accent-400);
}

/* Colors for the Accordion - positioned here because they depend on the color scheme used */
.h-accordion-wrapper {
    --accordion-outline-color: var(--color-light-accent-200);
    --accordion-background-color: var(--color-light-accent-50);
    --accordion-hover-color: var(--color-light-accent-100);
    --accordion-remove-color: var(--color-light-freon-error);
    --accordion-label-color: var(--color-light-freon-900);
}

.dark .h-accordion-wrapper {
    --accordion-outline-color: var(--color-dark-accent-700);
    --accordion-background-color: var(--color-dark-accent-900);
    --accordion-hover-color: var(--color-dark-accent-800);
    --accordion-remove-color: var(--color-dark-freon-error);
    --accordion-label-color: var(--color-dark-base-100);
}
