$projectit-color: black;

$toolbar-border-color: blue;
$toolbar-item-color: blue;
$toolbar-background: whitesmoke;
$toolbar-item-background: #dcfaff;

//$selected-backgound-color: #d5eed3;
$selected-backgound-color: rgba(211, 227, 253, 255);

@font-face {
    font-family: "Source Code Pro";
    src: url("./fonts/source-code-pro/EOT/SourceCodePro-Regular.eot");
    src: url("./fonts/source-code-pro/WOFF/OTF/SourceCodePro-Regular.otf.woff") format("woff"),
        url("./fonts/source-code-pro/TTF/SourceCodePro-Regular.ttf") format("truetype");
}

$font-family-base: "Source Code Pro", "Courier New";

// No default outline of selected element
*:focus {
    outline: none;
}

.header {
    border: 1px solid lightgray;
    align-self: stretch;
    justify-self: stretch;
    display: flex;
}
.headerText {
    font-weight: bold;
    color: blue;
}

.projectionalEditor {
    //border: 1px solid green;
}

.projectit {
    font-family: $font-family-base;
    font-size: 12px;
    width: 100%;
    color: $projectit-color;
    overflow-x: auto;
}

.unSelectedComponent {
    background: transparent;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: middle;
}

.selectedComponent {
    background-color: $selected-backgound-color;
    border: 1px solid darkblue;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
}

.selectedTextComponent {
    background-color: $selected-backgound-color;
    border: 1px solid transparent;
    display: inline-block;
    color: black;
    vertical-align: middle;
}

.horizontalList {
    white-space: nowrap;
}

.verticalList {
    display: grid;
    align-items: right;
}

.text:empty:before {
    content: attr(data-placeholdertext);
}

.text {
    padding: 3px;
    white-space: normal;
}

.incorrect {
    color: red !important;
}

.alias:empty:before {
    content: attr(data-placeholdertext);
    display: block; /* For Firefox */
}

.alias {
    color: blue;
    opacity: 0.5;
    border-radius: 3px;
    padding: 2px 5px 0px 5px;
}

.bracket {
    font-size: x-large;
}

.aliasExpression {
    padding: 0px 0px 0px 0px;
    margin-left: -2px;
    margin-right: -2px;
}

.toolbar {
    background: $toolbar-background;
    margin: -1px;
    border: 1px solid $toolbar-border-color;
}

.toolbarItem {
    border: 1px solid $toolbar-border-color;
    background: $toolbar-item-background;
    color: $toolbar-item-color;
    border-radius: 2px;
}
.gridcellFirst {
    padding: 4px;
    border: lightgrey;
    border-style: solid;
    border-width: 1px;
}

.gridcellOr {
    color: blue;
    font-weight: bold;
    padding: 4px;
    display: flex;
    align-items: center;
    border: lightgrey;
    border-style: solid;
    border-width: 1px;
    background-color: lightblue;
}

.gridcellLast {
    padding: 4px;
    border-left: lightgrey;
    border-left-style: solid;
    border-left-width: 1px;
    border-right: lightgrey;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.grid {
    display: inline-grid;
    grid-gap: 10px;
    align-items: center;
    align-content: center;
    justify-items: stretch;
}

.gridcell {
    padding: 4px;
    border-left: lightgrey;
    border-left-style: solid;
    border-left-width: 1px;
    border-right: lightgrey;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.indent {
    margin-left: 40px;
}

