@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '../../../node_modules/@freon4dsl/core-svelte/dist/styles/freon.css';
@import '../../../node_modules/@freon4dsl/core-svelte/dist/styles/freon-tw-theme-color-definitions.css';
@import '../../../node_modules/@freon4dsl/core-svelte/dist/styles/freon-tw-dark.css';
@import '../../../node_modules/@freon4dsl/core-svelte/dist/styles/freon-light.css';
