.navbar {
  background-color: var(--color-navbar-bg);
  height: var(--height-navbar);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: var(--z-index-navbar);
  line-height: 1;
}

.navbar .container {
  display: flex;
  align-items: center;
  height: inherit;
}

.navbar,
.navbar a {
  color: var(--color-navbar-text);
}

.navbar a:focus,
.navbar a:hover {
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
  flex: 1; /* FIXME this works without this property in antora-ui-default */
}

.navbar-brand .navbar-item {
  display: flex;
  height: 42px;
  transition: height 0.5s ease;
}

.navbar-brand img {
  height: 350%;
}

.navbar-burger {
  width: 30px;
  height: 19px;
  background: none;
  border: 0;
  position: relative;
  margin-left: auto;
  padding: 0;
}

.navbar-burger span {
  display: block;
  width: inherit;
  height: 4px;
  background: var(--color-navbar-text);
  margin-bottom: 3px;
  transition: all 0.3s ease-in-out;
  transform: translate3d(0, 0, 0);
}

.navbar-burger.is-active span {
  position: absolute;
}

.navbar-burger.is-active span:nth-child(1) {
  top: 8px;
  transform: rotate(135deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  top: 8px;
  transform: rotate(-135deg);
}

.navbar-menu {
  display: none;
  flex-grow: 1;
}

.navbar-start {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 24pt;
  font-weight: bold;
}

.navbar-title{
  font-size: 24pt;
  font-weight: bold;
}

.navbar-start > a.navbar-item,
.navbar-start > .navbar-item > .navbar-link {
  display: block;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  position: relative;
}

a.navbar-item.has-dropdown::after,
.navbar-item.has-dropdown > .navbar-link::after {
  content: "";
  position: absolute;
  background: url(../img/caret-down.svg) no-repeat 50% 50%;
  width: 0.875rem;
  height: 0.625rem;
  height: 1rem;
  margin-left: 0.25rem;
}

.navbar-dropdown {
  margin: 0 1.25rem;
}

.navbar-dropdown a {
  position: relative;
}

.navbar-dropdown a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-navbar-text);
  transform: scale3d(0, 0.9999, 0.9999);
  transition: transform 0.3s;
}

.navbar-dropdown a:focus::after,
.navbar-dropdown a:hover::after {
  transform: scale3d(1, 0.9999, 0.9999);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar-dropdown.explore .title {
  display: none;
}

.navbar-dropdown ul {
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
}

.navbar-dropdown ul.two-cols {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-content: flex-start;
}

.navbar-dropdown li {
  padding: 0.75rem 1rem 0.75rem 1.25rem;
}

.navbar-link .version {
  text-transform: none;
}

.navbar-dropdown li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-dropdown li.heading {
  font-weight: var(--weight-bold);
}

.navbar-dropdown ul.two-cols li.heading {
  grid-column: 1 / 3;
}

@media screen and (min-width: 1024px) {
  .navbar-start > a.navbar-item:hover,
  .navbar-start > .navbar-item:hover > .navbar-link {
    color: var(--color-brand-red);
  }

  .navbar-dropdown {
    visibility: hidden;
    position: absolute;
    margin-left: 1.25rem; /* FIXME can we get rid of this? */
    box-shadow: -5px 6px 10px rgba(25, 24, 24, 0.6);
    opacity: 0;
  }

  .navbar-dropdown.explore .title {
    display: block;
    font-weight: var(--weight-bold);
    padding: 1rem 1.25rem 0.75rem;
    background-color: #151514;
  }

  .navbar-dropdown .cols {
    display: flex;
    background: #333 linear-gradient(#333 0%, #201a19 100%);
  }

  .navbar-dropdown .cols ul + ul {
    border-left: 3px solid #151514;
  }

  .navbar-dropdown.versions li {
    padding-right: 1.25rem; /* FIXME make this stretch to size of parent */
  }
}

.navbar-start .navbar-item.search {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  padding-right: 1.25rem;
}

.navbar-menu:not(.is-active) .reveal-search-input > .navbar-item:not(.search) {
  display: none;
}

.navbar-start input.query {
  flex-grow: 1;
  background-color: var(--color-navbar-bg);
  color: inherit;
  padding: 0.5rem 0.25rem;
  font-size: 1rem;
  font-weight: var(--weight-light);
  border: 0;
}

.navbar-start input.query::placeholder {
  color: inherit;
  padding-left: 0.125rem;
}

.reveal-search-input .algolia-autocomplete {
  flex-grow: 1;
  display: flex !important;
  align-items: center;
  border-bottom: 1px solid var(--color-navbar-text);
}

.reveal-search-input .algolia-autocomplete::before {
  content: "";
  background: url(../img/search.svg) 50% 50% no-repeat;
  background-size: cover;
  border: 0;
  height: 1rem;
  width: 1rem;
}

.navbar-start:not(.reveal-search-input) input.query {
  display: none;
}

.navbar-start button.search {
  align-items: center;
  background: none;
  border: 0;
  display: flex;
  font-size: 1.125rem;
  padding: 0 0.5rem;
}

.navbar-start button.search::before {
  content: "";
  background: url(../img/search.svg) 50% 50% no-repeat;
  background-size: cover;
  border: 0;
  height: 1.25rem;
  width: 1.25rem;
}

.navbar-start button.search span {
  color: var(--color-navbar-text);
  padding-left: 0.5rem;
}

.reveal-search-input button.search::before {
  background: url(../img/search-close.svg) 50% 50% no-repeat;
}

.navbar .red-btn {
  border: 2px solid var(--color-projectit-darkblue);
  background-color: var(--color-projectit-darkblue);
  color: var(--color-projectit-lightblue);
  font-weight: var(--weight-bold);
  font-size: 1.125rem;
  height: 3.25rem;
  width: 9.75rem; /* equal to 1.875rem padding on sides */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.025em;
  transition: background-color 0.3s;
}

.navbar .red-btn:focus,
.navbar .red-btn:hover {
  background-color: var(--color-navbar-bg);
  color: var(--color-navbar-text);
}

/* mobile menu */

html.is-clipped--navbar {
  overflow-y: hidden;
}

.navbar-menu.is-active {
  display: block;
  background-color: var(--color-navbar-bg);
  position: absolute;
  top: var(--height-navbar);
  left: 0;
  right: 0;
  padding: 1.25rem 0;
  height: calc(100vh - var(--height-navbar));
  overflow-y: auto;
}

.navbar-menu.is-active .navbar-start {
  display: block;
}

.navbar-menu.is-active .navbar-item.search { /* FIXME quick hacks to get something working */
  justify-content: center;
  padding-left: 1.25rem;
  height: 2.5rem;
}

.navbar-menu.is-active .navbar-end {
  text-align: center;
  margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    flex: none;
    margin-right: 1.25rem;
  }

  .navbar-brand .navbar-item {
    height: 47px;
    width: 165px;
    justify-content: center;
  }

  .navbar-burger {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }

  .navbar-item.has-dropdown:hover .navbar-dropdown {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s 0.25s;
  }

  .navbar-item.has-dropdown:hover .navbar-dropdown::before {
    content: "";
    display: block;
    position: absolute;
    top: -2.5rem;
    right: 0;
    left: 0;
    height: 2.5rem;
    z-index: var(--z-index-navbar-dropdown);
  }

  .navbar-item.has-dropdown:hover > .navbar-link {
    z-index: var(--z-index-navbar-dropdown-link);
  }
}
