.doc .labels ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.125rem 0 0;
}

.doc .labels li {
  display: block;
  font-size: 0.75rem;
  font-weight: var(--weight-bold);
  line-height: 1;
  position: relative;
}

.doc .labels li:first-child::before {
  content: "";
  display: block;
  position: absolute;
  left: calc(50% - 0.5rem);
  border: 0.5rem solid transparent;
  top: -1rem;
}

.doc .labels li > * {
  color: #fff;
  display: inline-block;
  padding: 0.375em 1em 0.3em;
  text-transform: uppercase;
}

.doc .labels li a {
  text-decoration: none;
}

.doc .labels li.edition {
  background-color: var(--color-brand-light-blue);
}

.doc .labels li.edition::before {
  border-bottom-color: var(--color-brand-light-blue);
}

.doc .labels li.status {
  background-color: var(--color-brand-orange);
}

.doc .labels li.status:first-child::before {
  border-bottom-color: var(--color-brand-orange);
}
