.nav-menu {
  background-color: var(--color-shade);
  position: fixed;
  width: inherit;
  overflow-y: scroll;
  font-size: 0.875rem;
  line-height: 1.35;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: var(--z-index-nav-mobile);
  }
}

@media screen and (min-width: 769px) {
  .nav-menu {
    top: var(--height-to-body);
    margin-bottom: 1.5rem;
    height: var(--height-nav);
    z-index: var(--z-index-nav);
  }
}

.nav-menu::-webkit-scrollbar {
  width: 0.25rem;
}

.nav-menu::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
}

.nav-menu .nav-line,
.nav-menu .nav-link,
.nav-menu .nav-text {
  display: block;
}

.nav-menu a.nav-link {
  color: var(--color-text);
  text-decoration: none;
}

.nav-menu a.nav-link:focus,
.nav-menu a.nav-link:hover {
  color: var(--color-link);
}

.nav-menu .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu > .nav-list {
  margin: 1rem 0.5rem 1rem 0.75rem;
}

.nav-menu .nav-item .nav-list {
  /*
  margin-top: -0.0625rem;
  margin-bottom: 0.625rem;
  */
  margin-bottom: 0.75rem;
}

.nav-menu .nav-item:not(.is-active) > .nav-list {
  display: none;
}

.nav-menu .nav-item {
  margin-left: 0.75em;
}

/* NOTE navigation list without a category */
.nav-item[data-depth="0"] > .nav-list:first-child {
  margin-left: -0.75em;
}

.nav-menu .nav-item[data-depth="0"] + .nav-item {
  margin-top: 1.25em;
}

.nav-menu .nav-item .nav-item {
  margin-top: 0.5em;
}

.nav-item[data-depth="0"] > .nav-line {
  text-transform: uppercase;
}

.nav-menu .nav-item.is-current-page > .nav-line > a.nav-link {
  color: var(--color-text);
  font-weight: var(--weight-medium);
}

.nav-menu .nav-toggle {
  background: none;
  border: 0;
  padding: 0;
  position: absolute;
  margin-left: -1.25em;
  width: 1.25em;
  color: var(--color-border);
  transform: scale(1.25);
}

.nav-menu .nav-toggle::before {
  content: "+";
}

.nav-menu .nav-item.is-active > .nav-line > .nav-toggle::before {
  content: "-";
}

/* mobile menu */
html.is-clipped--nav {
  overflow-y: hidden;
}

.nav.is-active {
  visibility: visible;
}

.nav.is-active .nav-menu {
  transform: translateX(0);
  transition: transform 0.2s;
}

.nav-control {
  border: 0;
  padding: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5rem;
  background: url(../img/menu.svg) no-repeat center;
  background-size: 75%;
}

@media screen and (min-width: 769px) {
  .nav-control {
    display: none;
  }
}
