.hljs-comment,
.hljs-meta {
  color: #708090;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #66d9ef;
  font-weight: var(--weight-medium);
}

.hljs-subst {
  color: #66d9ef;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-tag .hljs-attr {
  color: #ae81ff;
}

.hljs-string,
.hljs-doctag {
  color: #a6e22e;
}

.hljs-tag,
.hljs-attribute {
  color: #f92672;
}

.hljs-built_in,
.hljs-function .hljs-title {
  color: #e6db74;
}

.hljs-regexp {
  color: #fd971f;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--weight-medium);
}
