.home p {
  margin: 0;
}

.home .paragraph {
  margin-top: 1.25rem;
}

.home .paragraph.hint {
  margin-top: 2rem;
  font-size: 0.9375rem;
}

.home h1,
.home h2,
.home h3 {
  line-height: 1.2;
  margin: 0;
}

.home h1.page {
  font-size: 2.375rem;
  margin-top: 3.5rem;
  text-align: center;
}

.home #preamble {
  margin: 2rem 0 3rem;
  font-size: 1.125rem;
  text-align: center;
}

.home .button::before {
  content: "[";
  padding-right: 0.25em;
}

.home .button::after {
  content: "]";
  padding-left: 0.25em;
}

.home .card ul,
.home .tile ul {
  line-height: 1.25;
  list-style: none;
  margin: 0;
  padding: 0;
}

.home .card li,
.home .tile li {
  padding: 0.25em 0;
}

.home .card a,
.home .tile a {
  text-decoration: none;
  position: relative;
}

.home .card a::before,
.home .tile a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: currentColor;
  transform: scale3d(0, 0.9999, 0.9999);
  transition-property: transform;
  transition-duration: 0.3s;
}

.home .card a:focus::before,
.home .card a:hover::before,
.home .tile a:focus::before,
.home .tile a:hover::before {
  transform: scale3d(1, 0.9999, 0.9999);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.home .conceal-title > h2 {
  display: none;
}

.home .cards > .sectionbody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: -0.75rem 0 0 -0.75rem;
}

.home .card {
  color: #fff;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0.75rem 0 0 0.75rem;
  min-width: 0;
  padding: 1.25rem;
}

.home .card:nth-of-type(1) {
  background-color: var(--color-brand-pink);
}

.home .card:nth-of-type(2) {
  background-color: var(--color-brand-green);
}

.home .card:nth-of-type(3) {
  background-color: var(--color-brand-light-blue);
}

.home .card:nth-of-type(4) {
  background-color: var(--color-brand-orange);
}

.home .card h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 0 0 1rem;
  position: relative;
}

.home .card h3::after {
  content: "";
  display: block;
  position: absolute;
  max-width: 5.75rem;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid currentColor;
  width: 25%;
}

.home .card .paragraph {
  font-weight: var(--weight-light);
  margin-top: 1rem;
  flex: 1 0 auto; /* NOTE must specify flex-basis for IE 11 */
}

.home .card .ulist {
  font-weight: var(--weight-bold);
  margin: 1.5rem 0 0.5rem;
  /* overflow-wrap: normal; */
  word-wrap: normal; /* NOTE not sure why this is required, but without it, list items get spaced apart */
}

.home .card a,
.home .tile .title a {
  color: inherit;
}

.home .card a::after {
  content: "\00a0>";
  width: 0;
  display: inline-block;
}

.home .tiles {
  font-size: 1.125rem;
  margin-top: 2.5rem;
}

.home .tiles > h2 {
  font-size: 2rem;
  hyphens: auto;
  padding-bottom: 3.125rem;
  text-align: center;
}

.home .tiles > h2::after {
  content: "";
  display: block;
  background-color: currentColor;
  width: 5.625rem;
  height: 1px;
  margin: 0 auto;
  margin-bottom: -1px;
  position: relative;
  top: 1.375rem;
}

.home .tiles > .sectionbody {
  display: flex;
  flex-wrap: wrap;
}

.home .tile {
  flex: 1;
  margin-bottom: 0.75rem;
  min-width: 0;
  flex-basis: auto;
  width: 50%;
}

.home .tile .title {
  font-weight: var(--weight-bold);
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 769px) {
  .home h1.page,
  .home #preamble {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .home .cards > .sectionbody {
    flex-direction: row;
  }

  .home .card {
    flex-basis: 0;
  }

  .home .cards-4 .card {
    flex-basis: calc(50% - 0.75rem);
  }

  .home .tiles {
    padding: 0 10%;
  }

  .home .tiles > .sectionbody {
    margin: 0 -0.5rem;
  }

  .home .tile {
    flex-basis: 0;
    margin-bottom: 0;
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .home .cards-4 .card {
    flex-basis: 0;
  }
}

/** CSS rules for tiles on the tutorial list page **/

/* override existing */
.tutorials.body.tiles .doc {
  justify-content: flex-start;
  margin-right: 0;
}

.tutorials .container {
  min-height: 100%;
}

/* 1 column layout on small screens */
@media screen and (max-width: 768px) {
  .tutorials.body.tiles .sect1 {
    flex-basis: 100%;
  }
}

/* 3 column layout on large screens */
@media screen and (min-width: 769px) {
  .tutorials.body.tiles .sect1 {
    flex-basis: calc(33% - 20px);
  }
}

.tutorials.body.tiles .sectionbody {
  /* add padding immediately inside the card */
  display: flex;
  height: calc(100% - 55px);
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0.9375rem;
}

/* target the tutorial title */
.tutorials.body.tiles .sectionbody > div.paragraph {
  font-size: 1.3rem;
}

mark {
  /* background: #f4f8fd; */
}

.tutorials.body.tiles .sect1 {
  border: 1px solid var(--color-brand-silver);
  margin: 0 0 1.25rem 0;
  /* override property defined in .body.tiles .sect1 */
  padding-right: 0;
  margin-right: 1.25rem;
}

.tutorials.body.tiles .sect1 > h2 {
  color: white;
  line-height: 2.2rem;
  min-width: 100%;
  text-align: center;
}

.tutorials.body.tiles .sect2 {
  display: flex;
  flex-direction: column;
}

.tutorials.body.tiles .sect2.title {
  height: 100%;
}

.tutorials.body.tiles .links + .sect3 {
  margin-bottom: 1.25rem;
}

/* fix the height. some titles span over 2 lines */
.tutorials.body.tiles .title {
  /* height: 62px; */
}

/* fix the height. tutorial summaries vary in length */
.tutorials.body.tiles .sect2 .summary p {
  height: 100%;
}

/* use flexbox to lay out the additional links */
.tutorials.body.tiles .links p {
  display: flex;
  flex-wrap: wrap;
}

/* each link takes 1/3 of the card width */
.tutorials.body.tiles .links p a {
  flex-basis: 33%;
  margin: 10px 0;
  text-align: center;
}

/* because `justify-self: flex-end` is being ignored in modern browsers */
/* https://stackoverflow.com/a/49658476/1908348 */
.tutorials.body.tiles .sect4:last-child {
  margin-top: auto;
}

.tutorials.body.tiles .sect1.developer > h2 {
  background-color: #00b0dc;
}

.tutorials.body.tiles .sect1.architect > h2 {
  background-color: #00bdbd;
}

.tutorials.body.tiles .sect1.devops > h2 {
  background-color: #ff983a;
}

/* layout tutorial languages and components */
.tutorials.body.tiles .sect3 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tutorials.body.tiles .sect2.metadata {
  align-content: flex-end;
  border-top: 1px solid var(--color-brand-silver);
  display: flex;
  justify-content: flex-end;
}

.metadata {
  padding: 0.625rem;
}

.metadata h3 {
  font-size: 1rem;
  font-weight: normal;
}

.tutorials.body.tiles .sect3 h4 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.tutorials.body.tiles .sect4 {
  display: flex;
  height: 9.563rem;
  padding: 0.625rem;
  text-align: center;
}

.tutorials.body.tiles .sect4 .ulist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tutorials.body.tiles .sect5 {
  margin: 5px 0;
  width: 50%;
}

.tutorials.body.tiles .sect5 h6 {
  font-size: 1rem;
  margin: 0;
}

.tutorials .banner {
  background: linear-gradient(to right, var(--color-brand-purple) 0%, var(--color-brand-light-blue) 100%);
  color: white;
  height: calc(440px - var(--height-navbar));
}

.tutorials .banner h1 {
  font-size: 2.375rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.tutorials .banner h2 {
  font-weight: 300;
  font-size: 1.75rem;
  margin: 0;
  padding: 14px 0 17px 0;
}

.tutorials .banner-content {
  display: flex;
  align-items: center;
}

.tutorials footer {
  margin-top: 3rem;
}

.searchbar {
  background-color: var(--color-navbar-bg);
  height: 4.2rem;
  line-height: 1;
}

.searchbar .container {
  display: flex;
  align-items: center;
  height: inherit;
}

.searchbar,
.searchbar a {
  color: var(--color-navbar-text);
}

.searchbar-menu {
  display: flex;
  flex-grow: 1;
}

.searchbar-start {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 1.0625rem;
}

.searchbar-start .searchbar-item.search {
  flex-grow: 1;
  justify-content: flex-end;
  display: flex;
  padding-right: 1.25rem;
}

.searchbar-start input.query {
  flex-grow: 1;
  background-color: var(--color-navbar-bg);
  color: inherit;
  padding: 0;
  font-size: 1.3rem;
  font-weight: var(--weight-light);
  border: 0;
}
