.placeholdertext {
    color: gray;
}

.indentedplaceholdertext {
    color: gray;
    margin-left: 40px;
}

.numeric {
    color: green;
}
.stringLiteral {
    color: green;
}
// tag::StyleKeyword[]
.keyword {
    font-weight: bold;
    color: blue;
}
.propertykeyword {
    font-weight: normal;
    color: blue;
}
.conceptkeyword {
    font-weight: bold;
    color: darkblue;
}
// end::StyleKeyword[]

.mygrid {
    padding: 0px;
    grid-gap: 0px;
    border: 0px;
    border-style: hidden;
}
.mycell {
    display: flex;
    justify-self: stretch;
    padding: 0px;
    grid-gap: -1px;
    border: 0px;
    border-style: hidden;
}
.tree {
    border: 1px;
    border-style: dotted;
    border-color: darkorange;
}

.indent {
    margin-left: 40px;
}

.indent2 {
    margin-left: 80px;
}

.myButton {
    border: 1px solid blue;
    background: lightblue;
    color: black;
    border-radius: 2px;
}

.borderLeft {
    border-left: 2px;
    border-style: solid;
    border-top-style: none;
    border-top: none;
}
