@use 'sass:color';
@use '../_global_color' as gc;
@use '@material/theme/color-palette';

// Freon Colors!! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #003f69,
  $secondary: color.scale(#b53d00, $whiteness: +20%),
  $surface: color-palette.$grey-900,
  $background: #000,
  $error: #B00020,
  //$on-primary: #ffffb0,
  //$on-primary: purple,     // a slighter darker version of 'secondary'
  $on-secondary: #4f709a,   // a slighter darker version of 'primary'
  //$on-surface: black,
  //$on-error: black,
  //accessible-ink-color,
  //contrast,
  //contrast-tone,
  //luminance,
  //text-emphasis,
  //tone
);

// Include all the global styles that do not involve dark/light modes.
@use '../app';

// linear-progress is included for the progress indicator in the EditorPart component
@use '@material/linear-progress/index' as linear-progress;

// my-colored-bar style is used for the progress indicator in the EditorPart component
.my-colored-bar {
  @include linear-progress.bar-color(theme.$red-500);
  @include linear-progress.buffer-color(theme.$red-100);
}

:focus {
  outline: none;
}

// status-bar style is used for the StatusBar component above the editor
.status-bar {
  //--freon-colors-bg-status: #4f9a94;
  --freon-colors-bg-status: #003f69;
  --freon-colors-text-status: white;
  --freon-text-style-status: italic;
}

.main-frame {
  /* SplitPane divider */
  --freon-colors-slider: #{theme.$on-secondary};    /* The color of the slider between the error/search pane and the editor */
}

.text-box-action {
  --freon-text-component-color: rgb(194, 194, 194);
}
.text-box-select {
  --freon-text-component-color: rgb(96, 196, 96);
}
.text-box-text {
  --freon-text-component-color: rgb(133, 186, 255);
}

/* The follwoing are CSS variables that are used in the editor part of Freon, i.e. in the package 'core-svelte'. */
/* Change the values as you like. */
/* Note that we need to use a different syntax grato be able to use SCSS variables as value
for CSS variables, see https://www.sass-lang.com/documentation/breaking-changes/css-vars */
.editor-part {
  box-sizing: border-box;
  /* Selectable */
  --freon-selected-background-color: #{gc.$mac-gray-50t};
  --freon-selected-outline-color: #{gc.$mac-primary-900};
  --freon-selected-outline-width: 0px;
  --freon-selected-outline-style: solid;

  /* Editor Component */
  --freon-editor-component-background-color: #{gc.$mac-gray-900};
  --freon-editor-component-color: #{gc.$mac-gray-200};

  /* Dropdown Component */
  --freon-dropdown-component-border-color: #{gc.$mac-primary-900};
  --freon-dropdown-component-background-color: #{gc.$mac-primary-300};
  --freon-dropdown-component-color: #{gc.$mac-primary-900};
  --freon-dropdownitem-component-color: #{gc.$mac-primary-900};
  --freon-dropdownitem-component-background-color: #{gc.$mac-primary-300};
  --freon-dropdownitem-component-border-color: #{gc.$mac-primary-900};
  --freon-dropdownitem-component-error-bg-color: #{gc.$mac-red-600};
  --freon-dropdownitem-component-selected-color: #{gc.$mac-gray-300};
  --freon-dropdownitem-component-selected-background-color: #{gc.$mac-gray-900};
  --freon-dropdownitem-component-hover-color: inherit;
  --freon-dropdownitem-component-hover-background-color: inherit;

   /* Text Component */
  --freon-text-component-color: #{gc.$mac-primary-200};
  --freon-text-component-placeholder-color: #{gc.$mac-primary-200};
  --freon-text-component-actionplaceholder-color: #{gc.$mac-gray-100};

  /* Label Component */
  --freon-label-component-color: #{gc.$mac-gray-400};
  --freon-label-component-background-color: inherit;

  /* Group Component */
  --freon-group-component-color: #{gc.$mac-white};
  --freon-group-component-background-color: #{gc.$mac-primary-900t};
 
  /* Popup */
  --freon-popup-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);


  /* Boolean components */
  --freon-boolean-accent-color: #{gc.$mac-primary-900};
  --freon-boolean-focus-color: #32cd3275;
}
.gridcellOdd {
  //--freon-gridcell-component-justify-left: right;
  --freon-gridcell-component-background-color: #{theme.$grey-300};
}
.gridcellEven {
  --freon-gridcell-component-background-color: transparent;
}
.gridcell-header {
  --freon-gridcell-component-background-color: #{theme.$grey-500};
}

.\/\*, .\*\/ {
  //--freon-label-component-font-weight: lighter;
  --freon-label-component-font-style: italic;
  --freon-label-component-color: #{theme.$grey-500};
}
.\{ {
  --freon-label-component-font-weight: bold;
}
.using.entity\: , .Validation {
  --freon-label-component-font-weight: bold;
  --freon-label-component-color: red;
}
.unit {
  --freon-label-component-font-weight: bold;
  --freon-label-component-color: darkmagenta;
}
.alias-SetValue-attribute-referencebox-textbox {
  --freon-text-component-color: #{color-palette.$brown-600};
  //--freon-text-component-background-color: #{color-palette.$yellow-300};
}

.\,, .\%, .\. {
  --freon-label-component-margin: 0px 0px 0px 0px;
  --freon-label-component-padding: 0px 0px 0px 0px;
}

.\/\*, .\*\/ {
  //--freon-label-component-font-weight: lighter;
  --freon-label-component-font-style: italic;
  --freon-label-component-color: #{theme.$grey-500};
}
.\{ {
  --freon-label-component-font-weight: bold;
}
.using.entity\: , .Validation {
  --freon-label-component-font-weight: bold;
  --freon-label-component-color: red;
}
.action-SetValue-attribute-referencebox-textbox {
  --freon-text-component-background-color: orange;
}

.\,, .\%, .\. {
  --freon-label-component-margin: 0px 0px 0px 0px;
  --freon-label-component-padding: 0px 0px 0px 0px;
}

.action-binary-pre-textbox, .action-binary-post-textbox, .action-exp-left-textbox, .action-exp-right-textbox {
  --freon-text-component-margin: 0px;
  --freon-text-component-padding: -1px 1px 0px 1px;
}

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
  margin: 0;
  box-sizing: border-box;
  --mdc-theme-primary: #{theme.$primary};
}

.app-green-font {
  color: #00fcfc !important;
}