// Define primary color palette
$mac-primary-900t: #4c5c9680;
$mac-primary-900: #4C5C96;
$mac-primary-800: #5567A8;
$mac-primary-700: #6878B2;
$mac-primary-600: #7B89BC;
$mac-primary-500: #8D99C5;
$mac-primary-400: #A0AACF;
$mac-primary-300: #B3BBD8;
$mac-primary-200: #C6CCE2;
$mac-primary-100: #D9DDEB;
$mac-primary-50: #ECEEF5;
$mac-primary-50t: #eceef580;

$mac-gray-900t: #11192880;
$mac-gray-900: #111928;
$mac-gray-800: #4F545C;
$mac-gray-700: #697077;
$mac-gray-600: #8E9297;
$mac-gray-500: #B9BBBE;
$mac-gray-400: #DCDDDE;
$mac-gray-300: #E3E5E8;
$mac-gray-200: #EBEEF0;
$mac-gray-100: #F2F3F5;
$mac-gray-50: #F8F9FA;
$mac-gray-50t: #F8F9FA80;

$mac-blue-900: #162B4B;
$mac-blue-800: #1E3A5F;
$mac-blue-700: #385673;
$mac-blue-600: #506C8B;
$mac-blue-500: #7289DA;
$mac-blue-400: #99AAB5;
$mac-blue-300: #BCC0C4;
$mac-blue-200: #D6D8DA;
$mac-blue-100: #E3E5E8;
$mac-blue-50: #F5F8FA;

$mac-red-900: #772424;
$mac-red-800: #992D2D;
$mac-red-700: #BF3636;
$mac-red-600: #E24949;
$mac-red-500: #F04747;
$mac-red-400: #F57878;
$mac-red-300: #F8A8A8;
$mac-red-200: #FBCBCB;
$mac-red-100: #FDECEC;
$mac-red-50: #FEF3F3;

$mac-orange-900: #603A1B;
$mac-orange-800: #7F4D1F;
$mac-orange-700: #A16024;
$mac-orange-600: #C3762A;
$mac-orange-500: #FAA61A;
$mac-orange-400: #FBB040;
$mac-orange-300: #FCC065;
$mac-orange-200: #FDD58F;
$mac-orange-100: #FEE6B8;
$mac-orange-50: #FFF4E0;

$mac-yellow-900: #4B4113;
$mac-yellow-800: #71611D;
$mac-yellow-700: #998126;
$mac-yellow-600: #C4A029;
$mac-yellow-500: #F5C400;
$mac-yellow-400: #FAD430;
$mac-yellow-300: #FBDF64;
$mac-yellow-200: #FDEA8C;
$mac-yellow-100: #FEF4B5;
$mac-yellow-50: #FFF9DB;

$mac-green-900: #194D33;
$mac-green-800: #276641;
$mac-green-700: #357F4C;
$mac-green-600: #419861;
$mac-green-500: #43B581;
$mac-green-400: #67C892;
$mac-green-300: #8BDBAA;
$mac-green-200: #B1EDC6;
$mac-green-100: #D7F8E4;
$mac-green-50: #EDFFF0;

$mac-teal-900: #184D47;
$mac-teal-800: #23685A;
$mac-teal-700: #2E7C6F;
$mac-teal-600: #399284;
$mac-teal-500: #4AB0B0;
$mac-teal-400: #71C4BF;
$mac-teal-300: #99D7CD;
$mac-teal-200: #BFEADA;
$mac-teal-100: #E6FDF8;
$mac-teal-50: #F0FFFF;

$mac-indigo-900: #2D2F7F;
$mac-indigo-800: #3D4099;
$mac-indigo-700: #4E52B5;
$mac-indigo-600: #6166D1;
$mac-indigo-500: #7479DD;
$mac-indigo-400: #8B8ED8;
$mac-indigo-300: #A2A4D3;
$mac-indigo-200: #B9BADE;
$mac-indigo-100: #D0D1E9;
$mac-indigo-50: #E7E8F4;

$mac-purple-900: #4E3160;
$mac-purple-800: #653E78;
$mac-purple-700: #7D4B91;
$mac-purple-600: #9659AA;
$mac-purple-500: #B067C9;
$mac-purple-400: #C77FD3;
$mac-purple-300: #DD96DD;
$mac-purple-200: #F3ADE8;
$mac-purple-100: #F8CEF1;
$mac-purple-50: #FDEFFA;

$mac-pink-900: #7D2848;
$mac-pink-800: #9E3359;
$mac-pink-700: #BF3E6B;
$mac-pink-600: #E0497D;
$mac-pink-500: #FF6589;
$mac-pink-400: #FF7F9B;
$mac-pink-300: #FF99AD;
$mac-pink-200: #FFB3C0;
$mac-pink-100: #FFCCD2;
$mac-pink-50: #FFE6E5;