// Overall styles applied to the webapp and the editor in both light and dark mode

@use '@material/typography/mdc-typography';

html,
body {
  padding: 0;
  margin: 0;
}

main {
  height: calc(100vh - 4px);
}

.mdc-drawer-app-content {
  height: 100%;
}

/* Application Classes */
.app-small-caps {
  font-variant: all-small-caps !important;
}

.app-uppercase {
  text-transform: uppercase;
}

.align-top {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

/* Generic Settings */
.editor-part {
  box-sizing: border-box;
    /* Horizontal list - trbl */
    --freon-horizontallist-component-padding: 0 0 10px 0;
    --freon-horizontallist-component-margin: 0;
    --freon-horizontallist-component-align-items: top;

    /* Vertical list - trbl */
    --freon-verticallist-component-padding: 0 0 1px 0;
    --freon-verticallist-component-margin: 0px;

    /* Horizontal layout - trbl */
    --freon-horizontallayout-component-padding: 0 0 0 0;
    --freon-horizontallayout-component-margin: 0px;
    --freon-horizontallayout-component-align-items: top;

    /* Vertical layout - trbl */
    --freon-verticallayout-component-padding: 0 0 5px 0;
    --freon-verticallayout-component-margin: 0;

}


span:has(> .tinymce-wrapper) {
  width: 100%;
}

.tinymce-wrapper textarea {
  visibility: visible !important;
  width: 100%;
  padding-right: 0.25rem;
}

.tinymce-wrapper {
  width: 100%;
  padding-right: 0.25rem;
}

.tox-statusbar {
  display: none !important;
}

// .mce-content-body {
//   background: #000000 !important;
//   color: white !important;
// }

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 0.75rem !important;
}

.pb-4 {
  padding-bottom: 1rem !important;
}