html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
}
.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}
.footer {
    height: 50px;
    margin-top: -50px;
    background-color: darkblue;
    color: white;
    vertical-align: center;
    horiz-align: center;
}
