//
// Custom overrides from a user.
//

// All added by Anneke

// Print-only styles.
@media print {
  .side-bar, .page-header { display: none; }
  .main-content { max-width: max-content; margin: 1em;}
}

// from Asciidoctor default stylesheet
.exampleblock{
  .content{
    border-style:solid;
    border-width:1px;
    border-radius:4px;
    //border-color:#e6e6e6;
    border-color:#e0e0dc;
    //background:#fff;
    background:#fffef7;
    -webkit-border-radius:4px;
    -webkit-box-shadow:0 1px 4px #e0e0dc;
    margin-bottom:1.25em;
    padding:1.25em;
    box-shadow:0 1px 4px #e0e0dc}
  .content.first-child{margin-top:0}
  .content.last-child{margin-bottom:0}
}

