.doc p {
  margin: 0;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  color: darkblue;
  font-weight: var(--weight-medium);
  letter-spacing: -0.025rem;
  line-height: 1.2;
  margin: 1.5rem 0 -0.25rem;
}

.doc h1 {
  font-size: 2.125rem;
  font-weight: var(--weight-medium);
  letter-spacing: 0;
  margin: 2.5rem 0 0;
}

.doc h1.page {
  font-size: 2.375rem;
  margin-top: 0;
}

.doc h2 {
  font-size: 1.875rem;
  margin: 2.25rem 0 2.5rem;
  max-width: fit-content; /* NOTE used to restrict width of key line */
}

.doc h2::after {
  content: "";
  display: block;
  max-width: 5.75rem;
  height: 0;
  outline: 0.5px solid currentColor;
  margin-top: 1.0625rem;
}

.doc h3 {
  font-size: 1.5rem;
}

.doc h4 {
  font-size: 1.125rem;
}

.doc h5 {
  font-size: 1rem;
}

.doc h1 > a.anchor,
.doc h2 > a.anchor,
.doc h3 > a.anchor,
.doc h4 > a.anchor,
.doc h5 > a.anchor,
.doc h6 > a.anchor {
  color: var(--color-brand-red);
  background-image: -webkit-linear-gradient(-45deg, var(--color-brand-purple), var(--color-brand-red) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: var(--weight-normal);
  position: absolute;
  text-decoration: none;
  width: 2ex;
  margin-left: -1.75ex;
  visibility: hidden;
  transform: scale(0.9);
  text-align: center;
}

.doc h1 a.anchor::before,
.doc h2 a.anchor::before,
.doc h3 a.anchor::before,
.doc h4 a.anchor::before,
.doc h5 a.anchor::before,
.doc h6 a.anchor::before {
  content: "\00a7";
}

.doc h1:hover a.anchor,
.doc h2:hover a.anchor,
.doc h3:hover a.anchor,
.doc h4:hover a.anchor,
.doc h5:hover a.anchor,
.doc h6:hover a.anchor {
  visibility: visible;
}

.doc i.fa {
  font-style: normal;
}

.doc .underline {
  text-decoration: underline;
}

.doc code {
  color: var(--color-code);
}

.doc pre code {
  display: block;
  color: inherit;
  font-size: inherit;
  word-spacing: inherit;
}

.doc .paragraph,
.doc .olist,
.doc .ulist,
.doc .admonitionblock,
.doc .exampleblock,
.doc .imageblock,
.doc .listingblock,
.doc .literalblock,
.doc .sidebarblock,
.doc .swagger-container,
.doc .verseblock,
.doc .videoblock {
  margin-top: 1rem;
}

.doc .paragraph .title,
.doc .olist .title,
.doc .ulist .title,
.doc .exampleblock .title,
.doc .listingblock .title,
.doc .literalblock .title,
.doc .openblock .title,
.doc caption {
  /* font-size: 1.125rem; */
  font-size: 1.0625rem;
  font-weight: var(--weight-bold);
  letter-spacing: -0.025em;
  line-height: 1.2;
  margin-bottom: 0.25rem;
}

.doc hr {
  margin: 1rem 0;
  border: 0 solid var(--color-border);
  border-top-width: 1px;
}

.doc table.tableblock,
.doc th.tableblock,
.doc td.tableblock {
  border: 0 solid var(--color-border-table);
}

.doc table.tableblock {
  border-width: 1px;
  border-collapse: collapse;
  margin: 1.5rem 0 2rem;
}

/* TODO drop .spread after upgrading to Asciidoctor 1.5.7 */
.doc table.spread,
.doc table.stretch {
  width: 100%;
}

.doc caption {
  text-align: left;
}

.doc table.tableblock > tbody {
  font-weight: var(--weight-light);
}

/* NOTE prevent wide tables from exceeding bounds */
/* TODO could also target table.tableblock[style^="width:"] */
/* TODO drop .spread after upgrading to Asciidoctor 1.5.7 */
.doc table.spread > tbody > tr > *,
.doc table.stretch > tbody > tr > * {
  /* NOTE setting max-width reactivates overflow-wrap behavior on the table cell */
  max-width: 0;
}

/* NOTE alternate way to prevent wide tables from exceeding bounds, but can overly compress header cells */
/* table-layout: fixed strictly enforces table and column widths */
/* another alternative is to wrap table in div and set overflow-x: auto on wrapper */
/*
.doc table.spread,
.doc table.stretch {
  table-layout: fixed;
}
*/

.doc table.tableblock > tbody > tr:nth-of-type(even) {
  background-color: var(--color-shade);
}

.doc th.tableblock {
  font-weight: var(--weight-medium);
  letter-spacing: -0.025em;
}

.doc th.tableblock,
.doc td.tableblock {
  border-width: 0 1px;
  padding: 0.75rem 1rem;
}

.doc thead th.tableblock {
  border-width: 1px;
  font-size: 1.0625rem;
  line-height: 1.2;
}

.doc p.tableblock + p.tableblock {
  margin-top: 1rem;
}

/* NOTE in Asciidoctor 1.5.7, this div will have a class */
.doc td.tableblock > div > :first-child {
  margin-top: 0;
}

.doc .halign-left {
  text-align: left;
}

.doc .halign-right {
  text-align: right;
}

.doc .halign-center {
  text-align: center;
}

.doc .valign-top {
  vertical-align: top;
}

.doc .valign-bottom {
  vertical-align: bottom;
}

.doc .valign-middle {
  vertical-align: middle;
}

.doc .admonitionblock > table,
.doc .admonitionblock > table > tbody,
.doc .admonitionblock > table > tbody > tr > td {
  display: block;
}

.doc .admonitionblock > table > tbody > tr {
  display: flex;
}

.doc .admonitionblock td.icon {
  padding: 0.5rem 0.375rem 0 0.75rem;
}

.doc .admonitionblock td.icon i::before {
  background: no-repeat 0/cover;
  content: "";
  display: block;
  height: 1.875rem;
  width: 1.875rem;
}

.doc .admonitionblock td.content {
  flex: 1;
  font-size: 0.9375rem;
  hyphens: auto;
  line-height: 1.6;
  min-width: 0;
  padding: 0.75rem 1rem 0.75rem 0;
}

.doc .admonitionblock td.content > .title {
  display: inline;
  font-style: italic;
}

.doc .admonitionblock td.content > .title::after {
  content: "";
  display: table;
}

.doc .admonitionblock td.content::before {
  font-weight: var(--weight-medium);
}

.doc .admonitionblock.caution > table {
  background-color: var(--color-brand-orange-tint);
}

.doc .admonitionblock.caution td.icon i::before {
  background-image: url(../img/caution.svg);
}

.doc .admonitionblock.caution td.content::before {
  content: "Caution: ";
  color: var(--color-brand-orange);
}

.doc .admonitionblock.important > table {
  background-color: var(--color-brand-blue-tint);
}

.doc .admonitionblock.important td.icon i::before {
  background-image: url(../img/important.svg);
}

.doc .admonitionblock.important td.content::before {
  content: "Important: ";
  color: var(--color-brand-blue);
}

.doc .admonitionblock.note > table {
  background-color: var(--color-brand-light-blue-tint);
}

.doc .admonitionblock.note td.icon i::before {
  background-image: url(../img/note.svg);
}

.doc .admonitionblock.note td.content::before {
  content: "Note: ";
  color: var(--color-brand-light-blue);
}

.doc .admonitionblock.tip > table {
  background-color: var(--color-brand-purple-tint);
}

.doc .admonitionblock.tip td.icon i::before {
  background-image: url(../img/tip.svg);
}

.doc .admonitionblock.tip td.content::before {
  content: "Tip: ";
  color: var(--color-brand-purple);
}

.doc .admonitionblock.warning > table {
  background-color: var(--color-brand-red-tint);
}

.doc .admonitionblock.warning td.icon i::before {
  background-image: url(../img/warning.svg);
}

.doc .admonitionblock.warning td.content::before {
  content: "Warning: ";
  color: var(--color-brand-red);
}

.doc .admonitionblock td.content > :first-child {
  margin-top: 0;
}

.doc .imageblock {
  display: flex;
  flex-direction: column;
}

.doc .imageblock img {
  display: block;
}

.doc .imageblock .title {
  font-style: italic;
  margin-top: 0.5rem;
}

.doc .imageblock img,
.doc span.image img {
  height: auto;
  max-width: 100%;
}

.doc span.image.icon {
  line-height: 1;
  vertical-align: -0.2em;
  display: inline-flex;
  padding: 0 0.25ex;
}

.doc span.image.icon img {
  height: 1em;
  width: auto;
}

.doc .abstract blockquote {
  font-size: 0.9375rem;
  margin: 1rem 0 1.5625rem 0;
  font-weight: var(--weight-light);
}

.doc .abstract blockquote * {
  font-weight: inherit;
}

.doc .abstract blockquote::before {
  content: "Summary: ";
  color: var(--color-muted);
  font-weight: var(--weight-medium);
}

.doc ul {
  margin: 0;
  padding: 0 0 0 1.75rem;
}

.doc ol {
  margin: 0;
  padding: 0 0 0 2.625rem;
}

.doc ul.checklist {
  padding-left: 0.5rem;
  list-style: none;
}

.doc ul.checklist p > i.fa-check-square-o:first-child,
.doc ul.checklist p > i.fa-square-o:first-child {
  display: inline-flex;
  justify-content: center;
  width: 1rem;
  margin-right: 0.25rem;
}

.doc ul.checklist i.fa-check-square-o::before {
  content: "\2713";
}

.doc ul.checklist i.fa-square-o::before {
  content: "\274f";
}

.doc .dlist .dlist,
.doc .dlist .olist,
.doc .dlist .ulist,
.doc .olist .dlist,
.doc .olist .olist,
.doc .olist .ulist,
.doc .ulist .dlist,
.doc .ulist .olist,
.doc .ulist .ulist {
  margin-top: 0.5rem;
}

.doc .olist li + li,
.doc .ulist li + li {
  margin-top: 0.5rem;
}

.doc .ulist .listingblock,
.doc .olist .listingblock,
.doc .admonitionblock .listingblock {
  padding: 0;
}

.doc .exampleblock > .content {
  background-color: var(--color-shade);
  box-shadow: inset 0 0 1px #bec0c1;
  padding: 2rem 2.25rem;
}

.doc .exampleblock > .content > :first-child {
  margin-top: 0;
}

.doc pre {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.doc pre:not(.highlight),
.doc pre.highlight code {
  background-color: #151514;
  color: #f8f8f2;
  font-weight: var(--weight-normal); /* needed to override third-party styles */
  padding: 0.625rem;
  white-space: pre-wrap;
  /* NOTE enable these styles if side-to-side scrolling is preferred */
  /*
  overflow-wrap: normal;
  word-wrap: normal;
  overflow-x: auto;
  */
}

/* NOTE assume pre.highlight contains code[data-lang] */
.doc pre.highlight {
  position: relative;
}

.doc .listingblock code[data-lang]::before {
  content: attr(data-lang);
  color: #f8f8f2;
  display: none;
  font-size: 0.75em;
  font-weight: var(--weight-light);
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  position: absolute;
  top: 0.375rem;
  right: 0.5rem;
}

.doc .listingblock:hover code[data-lang]::before {
  display: block;
}

.doc .dlist {
  margin: 1.5rem 0;
}

.doc .dlist dl {
  margin: 0;
}

.doc .dlist dt {
  font-weight: var(--weight-medium);
}

.doc .dlist dd + dt {
  margin-top: 1.5rem;
}

.doc .dlist dd {
  margin-left: 1.5rem;
}

.doc .dlist dt + dd {
  margin-top: 0.125rem;
}

.doc .dlist dd > .openblock > .content > :first-child {
  margin-top: 0;
}

.doc .sidebarblock > .content {
  background-color: var(--color-brand-black);
  color: #fff;
  font-weight: var(--weight-light);
  padding: 3rem;
}

.doc .sidebarblock > .content > .title {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

.doc .sidebarblock > .content > .title::after {
  content: "";
  display: block;
  max-width: 5.75rem;
  height: 0;
  outline: 1px solid var(--color-brand-orange);
  margin-top: 1.25rem;
}

.doc .sidebarblock > .content > :not(.title):first-child {
  margin-top: 0;
}

.doc .conum[data-value] {
  border: 1px solid currentColor;
  border-radius: 100%;
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  width: 1rem;
  height: 1rem;
  justify-content: center;
  align-items: center;
  vertical-align: text-bottom;
}

.doc .conum[data-value]::after {
  content: attr(data-value);
}

.doc .conum[data-value] + b {
  display: none;
}

.doc pre .conum[data-value] {
  background-color: #f8f8f2;
  border-color: #f8f8f2;
  color: #151514;
}

.doc .colist {
  margin-top: 0.5rem;
}

.doc .colist td:first-of-type {
  line-height: 1.4;
  padding: 0 0.5rem;
  vertical-align: top;
}

.doc .colist td:last-of-type {
  padding: 0;
}

.doc b.button {
  white-space: nowrap;
}

.doc b.button::before {
  content: "[";
  padding-right: 0.25em;
}

.doc b.button::after {
  content: "]";
  padding-left: 0.25em;
}

.doc kbd {
  display: inline-block;
  font-size: 0.7rem;
  background-color: #fafafa;
  border: 1px solid var(--color-border);
  border-radius: 0.25em;
  box-shadow: 0 1px 0 var(--color-border), 0 0 0 0.1em #fff inset;
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
  white-space: nowrap;
}

.doc kbd,
.doc .keyseq {
  line-height: 1;
}

.doc .keyseq {
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
}

.doc .keyseq kbd {
  margin: 0 0.125em;
}

.doc .keyseq kbd:first-child {
  margin-left: 0;
}

.doc .keyseq kbd:last-child {
  margin-right: 0;
}

.doc .menuseq i.caret::before {
  content: ">";
  font-weight: var(--weight-medium);
}

.body.tiles .doc {
  display: flex;
  flex-wrap: wrap;
  margin-right: -2.5rem;
}

.body.tiles .doc > h1.page {
  flex-basis: 100%;
  padding-right: 2.5rem;
}

.body.tiles .sect1 {
  flex-basis: 50%;
  padding-right: 2.5rem;
  margin-bottom: 0.5rem;
}

.body.tiles .sect1 > h2 {
  font-size: 1.5rem;
  font-weight: var(--weight-bold);
}

.body.tiles .sect1 > h2::after {
  margin-top: 1.25rem;
}

.doc .tabs ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -0.25rem 0 0;
  padding: 0;
}

.doc .tabs li {
  align-items: center;
  border: 1px solid var(--color-border);
  border-bottom: 0;
  cursor: pointer;
  display: flex;
  font-weight: var(--weight-bold);
  height: 2.5rem;
  line-height: 1;
  margin-right: 0.25rem;
  padding: 0 1.5rem;
  position: relative;
}

.doc .tabs li + li {
  margin-top: 0;
}

.doc .tabset.is-loading .tabs li:not(:first-child),
.doc .tabset:not(.is-loading) .tabs li:not(.is-active) {
  background-color: var(--color-text);
  color: var(--color-brand-white);
}

.doc .tabset.is-loading .tabs li:first-child::after,
.doc .tabs li.is-active::after {
  background-color: var(--color-brand-white);
  content: "";
  display: block;
  height: 3px; /* Chrome doesn't always paint the line accurately, so add a little extra */
  position: absolute;
  bottom: -1.5px;
  left: 0;
  right: 0;
}

.doc .tabset > .content {
  border: 1px solid var(--color-border);
  padding: 1.25rem;
}

.doc .tabset.is-loading .tab-pane:not(:first-child),
.doc .tabset:not(.is-loading) .tab-pane:not(.is-active) {
  display: none;
}

.doc .tab-pane > :first-child {
  margin-top: 0;
}
