@use 'sass:color';

@use '@material/theme/color-palette';
@use 'freon';

@use '@material/theme/index' as theme with (
  $primary: freon.$freon-primary,
  $secondary: freon.$freon-secondary,
  $surface: color.adjust(color-palette.$grey-50, $blue: +4),
  $background: #fff,
  $error: color-palette.$red-900,
  $on-error: green,
  $on-primary: purple,
  $on-secondary: red,
  $on-surface: black
);

@use './app';

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
